@{
    ViewData["Title"] = "Order";
}


<form id="form1" method="post" action="/Order/ImportOrderFromExcel" enctype="multipart/form-data">
    <div class="text-center">
        <select id="companyId" name="CompanyId">
            <option value="1">VNDirect</option>
            <option value="2">VPS</option>
            <option value="3">DNSE</option>
        </select>
        <input type="file" id="file1" name="UploadedFile" />
        <button type="button" id="btUpload">Upload</button>
    </div>
</form>

<script>
    document.getElementById('btUpload').onclick = function () {
        document.getElementById('form1').submit();
    };
</script>