/*DataTable*/
.dt-text-right {
    text-align: right;
}

td.details-control {
    background: url('../images/icon_minus.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../images/icon_plus.png') no-repeat center center;
}