
@{
  ViewData["Title"] = "Index";
}

<table id="accountState" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Current Value</th>
      <th>Department</th>
      <th>Description</th>
      <th>Note</th>
      <th>Total Buy</th>
      <th>Total Sell</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Symbol</th>
      <th>Current Value</th>
      <th>Department</th>
      <th>Description</th>
      <th>Note</th>
      <th>Total Buy</th>
      <th>Total Sell</th>
      <th></th>
    </tr>
  </tfoot>
</table>

<script>
  $(document).ready(function () {
    $.ajax({
      url: 'http://localhost:54214/AccountState/GetAll',
      method: "GET",
      xhrFields: {
        withCredentials: true
      },
      success: function (rs) {
        var ds = rs.data;
        $('#accountState').DataTable({
          "aaData": ds,
          "bProcessing": true,
          "columns": [
            { "data": "symbol" },
            { "data": "currentValue", "className": "dt-right" },
            { "data": "department" },
            { "data": "description" },
            { "data": "note" },
            { "data": "totalBuy", "className": "dt-right" },
            { "data": "totalSell", "className": "dt-right" },
            {
              "data": "id", render: function (data, type, row) {
                return '<a href="PriceSection?id=' + data +'">View</a>';
              }
            }
          ]
        });
      }
    });
  });
</script>